<div class="con1">
    <div class="card">
        <div class="text">
                <p>Q1] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, praesentium.</p>
                <p>Answer: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quas modi quod vitae quidem iusto voluptas nihil exercitationem, omnis earum?</p>
                <!--<div class="answer">
                    answer<br>marks
                </div>-->
        </div>
        <div class="button">
            <button>Check Marks<br>from API</button>
        </div>
    </div>
</div>