
  <div class="box1">
    <div class="img1">
      <img src="./../../../assets/images/login-img.svg" width="300px">
    </div>
    <div class="box">
        <div class="head">Faculty Login</div>
        <hr>
        <div class="content">
          <form>
            <div class="input1">
              <input type="text" placeholder="Your ID number">
            </div>
            <div class="input1">
              <input type="password" placeholder="Password">
            </div>
            <div class="forgot">
              <a  href="#" id="forgot">Forgot Password</a>
            </div>
            <div class="button1">
              <button>Login</button>
            </div>
          </form>
        </div>
      </div>
    <div class="img1">
      <img src="./../../../assets/images/login.jpg" width="300px">
    </div>
  </div>