<div class="con1">
    <div class="card">
        <div class="head">
            <h1>Please Answer the following answer
            </h1>
        </div>
        <div class="paper">
            <form>
                <div class="all">
                    <div class="question">
                        <label class="ques">Q1] Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, iste?</label>
                        <textarea name="answer1" class="answer" cols="30" rows="20" placeholder="Answer here...."></textarea>
                    </div>
                    <div class="question">
                        <label class="ques">Q1] Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, iste?</label>
                        <textarea name="answer1" class="answer" cols="30" rows="10" placeholder="Answer here...."></textarea>
                    </div>
                    <div class="question">
                        <label class="ques">Q1] Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, iste?</label>
                        <textarea name="answer1" class="answer" cols="30" rows="10" placeholder="Answer here...."></textarea>
                    </div>
                    <div class="question">
                        <label class="ques">Q1] Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, iste?</label>
                        <textarea name="answer1" class="answer" cols="30" rows="10" placeholder="Answer here...."></textarea>
                    </div>
                    <div class="question">
                        <label class="ques">Q1] Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, iste?</label>
                        <textarea name="answer1" class="answer" cols="30" rows="10" placeholder="Answer here...."></textarea>
                    </div>
                    <div class="button">
                        <button type="submit">Submit</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>